@use './components/second' as sin;

  nav {
     ul{
        li{
            text-decoration: underline;
            color:rgb(242, 0, 255);
            a{
                color:rgb(28, 184, 62);
                text-decoration: none;
            }
        } 
     }
  }

@mixin customDiv($bgColor:green,$col:white){
    background-color: $bgColor;
    color:$col;
    height:200px;
    width:400px;
    border:2px solid blue;
}
    // functions 
 
div{
    @include customDiv;
    margin-bottom:20px;

}
main{
    @include customDiv($bgColor:rgb(192, 45, 4),$col:yellow)
}
section{
    @include customDiv($bgColor:rgb(255, 0, 195 ));

}


%message-shared {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
    background-color: yellow;

  }

  @function customrgba($r,$g,$b,$a:1){
    @return rgba($r,$g,$b,$a);
  }
//   .message {
//     // @extend %message-shared;
//     color:  sin.$bgColor;
//     background-color: customrgba(255,0,0,0.63);
//   }
 




  




